.el-cascader-menu {
    min-height: 240px;
    max-height: 320px;
}

.el-scrollbar__wrap {
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

.el-dialog__body {
    padding-right: 6px;
    padding-bottom: 6px;
}

.furnace-message>p {
    padding-left: 12px;
    color: #909399;
}
