.curd-search {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    &-form {
        display: grid;
        align-content: center;
        flex: 1;
    }

    &-control {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: auto;
        height: 100%;
        overflow: hidden;

        &-item {
            margin-bottom: 18px;
        }
    }
}
